@keyframes moveinleft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveinRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveinbottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    50% {
        opacity: 0.5;
    }
    80% {
        transform: translateY(-0.5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}