.heading-secondary {
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #ff6b6b, #f03e3e);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    margin-bottom: 5rem;
    letter-spacing: 2px;
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(#000000, 0.2);
    }
}

.heading-three {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paraghraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}